body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-brand
{
    width: 70%;
}
@media only screen and (max-width: 360px) {
  .img2 {
    height: 20%;
    padding-right: 18%;
    margin-left: 20%;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
  .img1{
      height: 20%;
      margin-left: 1%;
  }
}
.main1{
    text-align: center;
}
.main11{
  font-size: 30px;
  color: #00b39b;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
}
.p1{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
}
.psect2{
    font-size: 23px;
    color: white;
}
.cot1, .cot2{
    background: #00b39b;
    padding-left: 7%;
    padding-top: 4%;
    border-radius: 2%;
    overflow: hidden;
    margin-top:2em;
}
.cot2{
    background: #3d83df;
}
.list{
    display: flex;
}
.cot1 h6{
    color: hsla(0,0%,100%,.7);
}
.cot2 h6{
    color: hsla(0,0%,100%,.7);
}
img.img2 {
    margin-left: 45%;
}
img.img1 {
    margin-left: 18%;
}
.p2{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    color: #00b39b;
    font-size: 25px;
}
svg{
    fill: #c4c4c4;
}
.svgs{
    margin-top:2em;
    margin-bottom: 2em;
}
.navitem *:hover{
    color:#00b39b !important;
}
svg:hover{
    fill: #00b39b !important;
}
.sec4{
    background: #e5faf8;
}
.graf1, .graf2, .graf3, .graf4{
    text-align: center;
    background: #fff;
    margin-top:2px;
    height:15em;
}
.graf1{
    padding: 45px 2px;
    margin-top: 10%;
}
.graf2{
    padding: 63px 2px;
    margin-top: 31px;
}  
.graf3{
    padding: 82px 2px;
}  
.graf4{
    padding: 69px 2px;
    margin-top: 26px;
}  
.parent{
    padding-bottom: 2px;
}
.p3{
    font-size: 2.125rem;
    color: #00b39b;
}
.p4{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
}

@media (max-width:764px){
    .cot2 {
        margin-top: 2%;
    }
}
@media (max-width:991px){
 .graf2
    {
        margin-bottom:20px;
    }
}
.ps5{
    text-align: center;
    margin-top: 8%;
    font-size: 25px;
    color: #00b39b;
}
.ps6{
    text-align: center;
    font-size: 13px;
}
.graf1sec7 {
    border: 1px solid #80808021;
    padding-bottom: 1%;
    border-radius: 4px;
}
.par2 {
    display: flex;
    justify-content: space-around;
    padding-top: 3.5%;
    padding-bottom: 2%;
}
.s8{
    margin-top: 2%;
}
.graf1sec7:hover {
box-shadow:0 20px 50px 0 rgba(0,0,0,.13);
transition: 1s;
}
.f11{
    font-size: 11px;
    color: grey;
}
.header{
  margin-top: 2em;
}